/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

main {
    padding: 0px;/* To evenly distribute the space between sections */
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* CSS for table styling */
table {
    width: 50%; /* Adjust as needed */
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f2f2f2;
}

/* Aligning content */
#left-content {
    width: 45%;
}

#right-content {
    width: 45%;
}
